/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/tmp/
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundled_gems
lib/bundled_gems.rb
Gemfile.lock
.ruby-version
